table{
    border-collapse: :collapse;
    width: 100%;
}
th,td{
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: lightpink;
}

th{
    background-color: coral;
    color: black;
}

a:link, a:visited {
    background-color: bisque;
    color:black;
    padding: 14px 25px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    border-radius: 5px;
}

a:hover, a:active {
    background-color: coral;
    border-radius: 6px;
}

h1,h2,h3,h4 {
    text-align: center; 
}
input[type=text], select{
    width: 100%
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color:chocolate;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: crimson;
}